{% extends 'basic/base.html' %}
{% block title %}Eliminar campaña{% endblock %}
{% block container_background %}bg-dark{% endblock %}
{% block header %}
  {% include 'basic/includes/toolbar.html' %}
{% endblock %}
{% block overflow %}
  overflow-scroll-y
{% endblock %}
{% block content %}
  <form
    method="post"
    class="d-flex flex-column justify-content-center align-items-center h-100">
    {% csrf_token %}

    <!-- Advice -->
    <p
      class='h4 text-light text-center text-raleway'>
      ¿Esta seguro que desea eliminar la campaña?
    </p>

    <!-- Button -->
    <div
      class="d-flex flex-row justify-content-center">
      <button
        type="submit"
        class="btn btn-danger my-4 text-raleway">
        ACEPTAR
      </button>
    </div>

  </form>
{% endblock%}
