{% extends 'basic/base.html' %}
{% block title %}Registrar campaña{% endblock %}
{% block container_background %}bg-dark{% endblock %}
{% block header %}
  {% include 'basic/includes/toolbar.html' %}
{% endblock %}
{% block overflow %}
  overflow-scroll-y
{% endblock %}
{% block content %}
  <div
    class="row h-100 mw-100 mx-0">
    <div
      class="col-sm-11 col-md-11 col-lg-11 mx-auto my-auto">
      <div
        class="card my-5 bg-primary">
        <div
          class="card-body">
          <!-- Form -->
          <form
            method="post"
            enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Title input -->
            <div
              class="form-group">
              <!-- Label -->
              <label
                class="text-light text-raleway">
                {{form.title.label}}
              </label>
              <!-- Input -->
              {{form.title}}
              <!-- Alert -->
              <ul>
                {% for error in form.title.errors %}
                  <li class="text-danger mt-1">{{error}}</li>
                {% endfor %}
              </ul>
            </div>

            <!-- Message input -->
            <div
              class="form-group">
              <!-- Label -->
              <label
                class="text-light text-raleway">
                {{form.message.label}}
              </label>
              <!-- Input -->
              {{form.message}}
              <!-- Alert -->
              <ul>
                {% for error in form.message.errors %}
                  <li class="text-danger mt-1">{{error}}</li>
                {% endfor %}
              </ul>
            </div>

            <!-- Image input -->
            <div
              class="form-group">
              <!-- Label -->
              <label
                class="text-light text-raleway">
                {{form.image.label}}
              </label>
              <!-- Input -->
              <div
                class="custom-file">
                {{form.image}}
                <label
                  class="custom-file-label text-truncate">
                  Seleccionar imagen
                </label>
              </div>
            </div>

            <!-- Phone numbers input -->
            <div
              class="form-group">
              <!-- Label -->
              <label
                class="text-light text-raleway">
                {{form.phone_numbers.label}}
              </label>
              <!-- Input -->
              <div
                class="custom-file">
                {{form.phone_numbers}}
                <label
                  class="custom-file-label text-truncate">
                  Seleccionar archivo csv
                </label>
              </div>
              <!-- Alert -->
              <ul>
                {% for error in form.phone_numbers.errors %}
                  <li class="text-danger mt-1">{{error}}</li>
                {% endfor %}
              </ul>
            </div>

            <!-- Enterprise input -->
            <div
              class="form-group">
              <!-- Label -->
              <label
                class="text-light text-raleway">
                {{form.enterprise.label}}
              </label>
              <!-- Input -->
              {{form.enterprise}}
              <!-- Alert -->
              <ul>
                {% for error in form.enterprise.errors %}
                  <li class="text-danger mt-1">{{error}}</li>
                {% endfor %}
              </ul>
            </div>

            <!-- Success alert -->
            {% if 'success' in request.GET %}
              <div
                class="alert alert-success text-raleway"
                role="alert">
                Campaña guardada exitosamente.
              </div>
            {% endif %}

            <!-- Fail alert -->
            {% if 'fail' in request.GET %}
              <div
                class="alert alert-danger text-raleway"
                role="alert">
                Hubo un problema al guardar la campaña.
              </div>
            {% endif %}

            <!-- Button -->
            <div
              class='d-flex justify-content-center flex-wrap'>
              <button
                type="submit"
                class="btn btn-primary my-4 text-raleway">
                REGISTRAR
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock%}
