{% extends 'basic/base.html' %}
{% block title %}Detalle de campaña{% endblock %}
{% block container_background %}bg-dark{% endblock %}
{% block header %}
  {% include 'basic/includes/toolbar.html' %}
{% endblock %}
{% block overflow %}
  {% if request.user_agent.is_mobile %}
    overflow-scroll-y overflow-hidden-x
  {% else %}
    overflow-hidden
  {% endif %}
{% endblock %}
{% block content %}
  <div
    class="row h-100">
    <!-- Campaign information -->
    <div
      class="col h-auto">
      <div
        class="jumbotron m-3 h-auto">
        <!-- Title -->
        <div
          class="row">

          <div
            class="col">
            <p
              class="h5 text-raleway">
              Título
            </p>
            <p
              class="h6 text-raleway text-justify">
              {{campaign.title}}
            </p>
          </div>
        </div>
        <!-- Message -->
        <div
          class="row">

          <div
            class="col">
            <p
              class="h5 text-raleway">
              Mensaje
            </p>
            <p
              class="h6 text-raleway text-justify">
              {{campaign.message}}
            </p>
          </div>
        </div>
        <!-- Enterprise -->
        <div
          class="row">

          <div
            class="col">
            <p
              class="h5 text-raleway">
              Empresa
            </p>
            <p
              class="h6 text-raleway text-justify">
              {{campaign.enterprise}}
            </p>
          </div>
        </div>
        <!-- Image -->
        <div
          class="row">

          <div
            class="col">
            <p
              class="h5 text-raleway">
              Imagen
            </p>
            {% if campaign.image %}
              <a
                class="h6 text-raleway text-justify text-secondary"
                href="{{campaign.image.url}}"
                target="blank">
                Ver imagen
              </a>
            {% else %}
              <p
                class="h6 text-raleway">
                No hay imagen
              </p>
            {% endif %}
          </div>
        </div>
        <!-- Status -->
        <div
          class="row">

          <div
            class="col">
            <p
              class="h5 text-raleway">
              Estado
            </p>
            <p
              class="h6 text-raleway text-justify">
              {{campaign.status}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- List   -->
    <div
      class="col p-0 h-100">
      <!-- List header -->
      <div
        class="row  mw-100 mx-0 h-5">
        <!-- First column -->
        <div
          class="col">
          <p
            class="h6 m-3 font-weight-bold text-primary text-raleway">
            Teléfono
          </p>
        </div>
        <!-- Second column -->
        <div
          class="col">
          <p
            class="h6 m-3 font-weight-bold text-primary text-raleway">
            Enviado
          </p>
        </div>
        <!-- Third column -->
        <div
          class="col d-none d-xs-none d-md-block d-lg-block">
          <p
            class="h6 m-3 font-weight-bold text-primary text-raleway">
            Leído
          </p>
        </div>
        <!-- Fourth column -->
        <div
          class="col d-none d-xs-none d-md-none d-lg-block">
          <p
            class="h6 m-3 font-weight-bold text-primary text-raleway">
            Fecha de envío
          </p>
        </div>
        <!-- Fifth column -->
        <div
          class="col d-none d-xs-none d-md-none d-lg-block">
          <p
            class="h6 m-3 font-weight-bold text-primary text-raleway">
            Fecha de leído
          </p>
        </div>
      </div>
      <!-- List detail -->
      <div
        class="overflow-scroll-y h-85">
        {% for detail in detail.all|dictsort:'id' reversed %}
          <div
            class="row mw-100 mx-0">
            <!-- First column -->
            <div
              class="col h-auto">
              <p
                class="h6 m-3 text-light text-raleway">
                {{detail.phone_number}}
              </p>
            </div>
            <!-- Second column -->
            <div
              class="col">
              {% if detail.sent %}
                <span
                 class="fas fa-check h3 text-success my-3 mx-4"></span>
              {% else %}
                <span
                 class="fas fa-times h3 text-danger my-3 mx-4"></span>
              {% endif %}
            </div>
            <!-- Third column -->
            <div
              class="col  d-none d-xs-none d-md-block d-lg-block">
              {% if detail.read %}
                <span
                 class="fas fa-check h3 text-success my-3 mx-4"></span>
              {% else %}
                <span
                 class="fas fa-times h3 text-danger my-3 mx-4"></span>
              {% endif %}
            </div>
            <!-- Fourth column -->
            <div
              class="col  d-none d-xs-none d-md-none d-lg-block">
              <p
                class="h6 m-3 text-light text-raleway">
                {% if detail.sent_time %}
                  {{detail.sent_time}}
                {% else %}
                  -
                {% endif %}
              </p>
            </div>
            <!-- Fifth column -->
            <div
              class="col  d-none d-xs-none d-md-none d-lg-block">
              <p
                class="h6 m-3 text-light text-raleway">
                {% if detail.read_time %}
                  {{detail.read_time}}
                {% else %}
                  -
                {% endif %}
              </p>
            </div>

          </div>
        {% endfor %}
      </div>
      <!-- Paginator -->
      {% include 'basic/includes/paginator.html' %}
    </div>
  </div>
{% endblock%}
