{% extends 'basic/base.html' %}
{% block title %}Campañas{% endblock %}
{% block container_background %}bg-dark{% endblock %}
{% block drawer %}
  {% include 'basic/includes/drawer.html' %}
{% endblock %}
{% block header %}
  {% include 'basic/includes/toolbar.html' %}
{% endblock %}
{% block overflow %}
  overflow-hidden
{% endblock %}
{% block content %}
  <!-- List header -->
  <div
    class="row mw-100 mx-0 h-5">

    <div
      class="col">
      <p
        class="h6 m-3 font-weight-bold text-primary text-raleway d-flex justify-content-center">
        Acción
      </p>
    </div>

    <div
      class="col">
      <p
        class="h6 m-3 font-weight-bold text-primary text-raleway">
        Título
      </p>
    </div>

    <div
      class="col d-none d-sm-none d-md-block d-lg-block">
      <p
        class="h6 m-3 font-weight-bold text-primary text-raleway">
        Imagen
      </p>
    </div>

    <div
      class="col d-none d-sm-block d-md-block d-lg-block">
      <p
        class="h6 m-3 font-weight-bold text-primary text-raleway">
        Estado
      </p>
    </div>

    <div
      class="col d-none d-sm-none d-md-none d-lg-block">
      <p
        class="h6 m-3 font-weight-bold text-primary text-raleway text-center">
        Cantidad
      </p>
    </div>

    <div
      class="col d-none d-sm-none d-md-none d-lg-block">
      <p
        class="h6 m-3 font-weight-bold text-primary text-raleway text-center">
        Enviados
      </p>
    </div>

  </div>
  <!-- List detail -->
  <div
    class="overflow-scroll-y h-80">
    {% for campaign in campaigns %}
      <div
        class="row mw-100 mx-0">
        <!-- Action -->
        <div
          class="col d-flex align-items-center justify-content-center">
          <!-- Delete -->
          <a
           href="{% url 'delete-campaign' campaign.id %}">
            <span
             class="fas fa-trash-alt h5 text-secondary m-1 mb-0"></span>
          </a>
          <!-- See campaign detail -->
          <a
           href="{% url 'campaign-detail' campaign.id %}">
            <span
             class="fas fa-eye h5 text-secondary m-1 mb-0"></span>
          </a>
        </div>
        <!-- Title -->
        <div
          class="col text-truncate">
          <p
            class="h6 m-3 text-light text-raleway">
            {{campaign.title}}
          </p>
        </div>
        <!-- Image -->
        <div
          class="col align-items-center d-none d-sm-none d-md-flex d-lg-flex">
          {% if campaign.image %}
            <a
              class="h6 m-3 text-secondary text-raleway"
              href="{{campaign.image.url}}"
              target="_blank">
              Ver Imagen
            </a>
          {% else %}
            <p
              class="h6 m-3 text-light text-raleway">
              No hay imagen
            </p>
          {% endif %}
        </div>
        <!-- Status -->
        <div
          class="col d-none d-sm-block d-md-block d-lg-block">
          <p
            class="h6 m-3 text-light text-raleway">
            {{campaign.status}}
          </p>
        </div>
        <!-- Total campaign -->
        <div
          class="col d-none d-sm-none d-md-none d-lg-block">
          <p
            class="h6 m-3 text-light text-raleway text-center">
            {{campaign.campaign.count}}
          </p>
        </div>
        <!-- Total of sent campaigns -->
        <div
          class="col d-none d-sm-none d-md-none d-lg-block">
          <p
            class="h6 m-3 text-light text-raleway text-center">
            {% regroup campaign.campaign.all|dictsort:"sent" by sent as phones_filtered %}
              {{phones_filtered.1.list|length}}
          </p>
        </div>
      </div>
    {% empty %}
      <p
        class="h4 text-light d-flex justify-content-center align-items-center h-25">
        No hay campañas
      </p>
    {% endfor %}
  </div>
  <!-- Paginator -->
  {% include 'basic/includes/paginator.html' %}
  <!-- Drawer button -->
  {% include 'basic/includes/drawerButton.html' %}
  <!-- Floating action button -->
  <a
    class="mx-3 my-5 m-sm-5 m-md-5 m-lg-5 rounded-circle position-absolute pulse-effect"
    href="{% url 'add-campaign' %}">
    <span
     class="fas fa-plus-circle h1 text-secondary mb-0 rounded-circle">
   </span>
  </a>
{% endblock%}
