.pulse-effect::before {
  content: '';
  border-color: #F75C03;
  border-width: 2px;
  border-style: solid;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 100%;
  transform-origin: center;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.pulse-effect::after {
  content: '';
  background-color: #FFF;
  width: 60%;
  height: 60%;
  position: absolute;
  top: 8px;
  left: 9px;
  border-radius: 100%;
  z-index: -1;
}

.pulse-effect {
  z-index: 1;
  right: 0px;
  bottom: 0px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}