<!DOCTYPE html>
<html lang="es" dir="ltr" class="h-100 overflow-hidden">
  <head>
    <!-- Metas -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Css -->
    {% load static %}
    <link href="{% static 'basic/vendor/bootstrap-4.1.3/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'basic/vendor/fontawesome-5.3.1/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'basic/css/scrollBar.css' %}" rel="stylesheet">
    <link href="{% static 'campaign/css/floating-action-button.css' %}" rel="stylesheet">
    <link href="{% static 'basic/css/drawer.css' %}" rel="stylesheet">
    <link href="{% static 'basic/css/drawerButton.css' %}" rel="stylesheet">
    <!-- Title -->
    <title>{% block title %}{% endblock %} | Fake Whatsapp</title>
  </head>
  <body class="h-100 bg-dark overflow-hidden">
    <!-- Drawer -->
    <div
      class="drawer">
      {% block drawer %}{% endblock %}
    </div>
    <!-- Header -->
    <nav
      class="navbar navbar-dark h-15 flex-nowrap p-0 bg-jumbotron">
      {% block header %}{% endblock %}
    </nav>
    <!-- Content -->
    <div
      class="d-flex flex-row h-85">
      <div
        class="container-fluid h-100 px-0 {% block overflow %}{% endblock %} {% block container_background %}{% endblock %}">
        {% block content %}{% endblock %}
      </div>
    </div>
    <!-- Javascript -->
    <script type="text/javascript" src="{% static 'basic/vendor/jquery-3.3.1/jquery.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'basic/vendor/popper/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'basic/vendor/bootstrap-4.1.3/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'campaign/js/fileInput.js' %}"></script>
    <script type="text/javascript" src="{% static 'basic/js/drawer.js' %}"></script>
  </body>
</html>
