{% extends 'basic/base.html' %}
{% block title %}Detalle de empresa{% endblock %}
{% block container_background %}bg-dark{% endblock %}
{% block header %}
  {% include 'basic/includes/toolbar.html' %}
{% endblock %}
{% block overflow %}
  {% if request.user_agent.is_mobile %}
    overflow-scroll-y overflow-hidden-x
  {% else %}
    overflow-hidden
  {% endif %}
{% endblock %}
{% block content %}
  <div
    class="row h-100 d-flex justify-content-center align-items-center">
    <div
      class="jumbotron d-flex  flex-column justify-content-center align-items-center">

      <img class="img-fluid mw-25 rounded-circle" src="{{enterprise.image.url}}">

      <p
        class="text-raleway text-secondary h1">
        {{enterprise.name}}
      </p>

      <p
        class="text-raleway">
        {{enterprise.status}}
      </p>
    </div>
  </di>
{% endblock %}
