{% extends 'basic/base.html' %}
{% block title %}Registrar empresa{% endblock %}
{% block container_background %}bg-dark{% endblock %}
{% block header %}
  {% include 'basic/includes/toolbar.html' %}
{% endblock %}
{% block overflow %}
  overflow-scroll-y
{% endblock %}
{% block content %}
  <div
    class="row h-100 mw-100 mx-0">
    <div
      class="col-sm-11 col-md-11 col-lg-11 mx-auto my-auto">
      <div
        class="card my-5 bg-primary">
        <div
          class="card-body">
          <!-- Form -->
          <form
            method="post"
            enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Name input -->
            <div
              class="form-group">
              <!-- Label -->
              <label
                class="text-light text-raleway">
                {{form.name.label}}
              </label>
              <!-- Input -->
              {{form.name}}
              <!-- Alert -->
              <ul>
                {% for error in form.name.errors %}
                  <li class="text-danger mt-1">{{error}}</li>
                {% endfor %}
              </ul>
            </div>

            <!-- Status input -->
            <div
              class="form-group">
              <!-- Label -->
              <label
                class="text-light text-raleway">
                {{form.status.label}}
              </label>
              <!-- Input -->
              {{form.status}}
              <!-- Alert -->
              <ul>
                {% for error in form.status.errors %}
                  <li class="text-danger mt-1">{{error}}</li>
                {% endfor %}
              </ul>
            </div>

            <!-- Image input -->
            <div
              class="form-group">
              <!-- Label -->
              <label
                class="text-light text-raleway">
                {{form.image.label}}
              </label>
              <!-- Input -->
              <div
                class="custom-file">
                {{form.image}}
                <label
                  class="custom-file-label text-truncate">
                  Seleccionar imagen
                </label>
              </div>
              <!-- Alert -->
              <ul>
                {% for error in form.image.errors %}
                  <li class="text-danger mt-1">{{error}}</li>
                {% endfor %}
              </ul>
            </div>

            <!-- Success alert -->
            {% if 'success' in request.GET %}
              <div
                class="alert alert-success text-raleway"
                role="alert">
                Empresa guardada exitosamente.
              </div>
            {% endif %}

            <!-- Button -->
            <div
              class='d-flex justify-content-center flex-wrap'>
              <button
                type="submit"
                class="btn btn-primary my-4 text-raleway">
                REGISTRAR
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock%}
