.drawer {
  height: 100%;
  width: 0vw;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
}
.drawer.drawer-opened {
  width: 100vw;
}
.drawer-container, .drawer-container-mobile {
  height: 100%;
  width: 0vw;
  position: absolute;
  transition: 0.3s;
  overflow: hidden;
  animation-name: left-side-pulse-effect;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  z-index: 1;
}
.drawer-container.drawer-opened {
  width: 25vw;
}
.drawer-container-mobile.drawer-opened {
  width: 75vw;
}
.drawer-icon-item {
  width: 56px;
}
.pointer-cursor {
  cursor: pointer;
}
@keyframes left-side-pulse-effect {
  0% {
    box-shadow: 5px 0px 20px 3px #424242;
  }
  50% {
    box-shadow: 5px 0px 20px 5px #424242;
  }
  100% {
    box-shadow: 5px 0px 20px 3px #424242;
  }
}
