.drawer-button, .drawer-button-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 47.5%;
  left: 0;
  box-shadow: 0px 0px 20px 10px #424242;
  background-color: #01A982;
  height: 48px;
  width: 24px;
  border-bottom-right-radius: 48px;
  border-top-right-radius: 48px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.drawer-button:hover, .drawer-button-mobile:hover {
  cursor: pointer;
}
.drawer-button.was-pressed {
  left: calc(25vw - 24px);
  border-bottom-left-radius: 48px;
  border-top-left-radius: 48px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.drawer-button-mobile.was-pressed {
  left: calc(75vw - 24px);
  border-bottom-left-radius: 48px;
  border-top-left-radius: 48px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.line:nth-child(1) {
  width: 9px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  transition: all 0.3s ease-in-out;
  transform: translateY(-1px) rotate(45deg);
  margin-right: 5px;
}
.line:nth-child(2) {
  width: 9px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  transition: all 0.3s ease-in-out;
  transform: translateY(1px) rotate(-45deg);
  margin-right: 5px;
}
.drawer-button.was-pressed .line:nth-child(1), .drawer-button-mobile.was-pressed .line:nth-child(1) {
  transition-delay: 0.6s;
  transform: translateY(-3px) rotate(-45deg) translateX(-3px);
  margin-left: 10px;
}
.drawer-button.was-pressed .line:nth-child(2), .drawer-button-mobile.was-pressed .line:nth-child(2) {
  transition-delay: 0.6s;
  transform: translateY(3px) rotate(45deg) translateX(-3px);
  margin-left: 10px;
}
