<div
  class="d-flex flex-column h-100 {% if request.user_agent.is_pc %}drawer-container{% else %}drawer-container-mobile{% endif %} bg-dark">

  <div
    class="h-10 d-flex flex-column justify-content-center">
    <div
      class="d-flex ml-3 align-items-center">
      <span
        class="fab fa-whatsapp display-4 text-primary"></span>

      <span
        class="text-raleway text-light ml-3">
        FAKE WHATSAPP
      </span>
    </div>
  </div>

  <div
    class="h-90 d-flex flex-column justify-content-center">
    <a
      class="d-flex ml-3 mb-2 pointer-cursor"
      href="{% url 'home' %}">
      <span
        class="fas fa-home text-secondary h3 drawer-icon-item m-0"></span>

      <span
        class="text-raleway text-light align-self-center">
        HOME
      </span>
    </a>
    <a
      class="d-flex ml-3 mb-2 pointer-cursor"
      href="{% url 'enterprises' %}">
      <span
        class="fas fa-user text-secondary h3 drawer-icon-item m-0"></span>

      <span
        class="text-raleway text-light align-self-center">
        EMPRESA
      </span>
    </a>
  </div>

  <div
    class="h-10 d-flex flex-column justify-content-center border-top border-light">
    <a
      class="d-flex ml-3 pointer-cursor"
      href="{% url 'logout' %}">
      <span
       class="fas fa-sign-out-alt text-secondary h3 drawer-icon-item m-0"></span>

      <span
        class="text-raleway text-light align-self-center">
        SALIR
      </span>
    </a>
  </div>
</div>
