<div class="{% if request.user_agent.is_pc %}drawer-button{% else %}drawer-button-mobile{% endif %} position-absolute" onclick="toggleDrawer()">
    <span class="line"></span>
    <span class="line"></span>
</div>
