{% if is_paginated %}
  <div
    class="d-flex justify-content-center align-items-center h-10">
    <ul
      class="pagination my-0">
      <!-- Previous -->
      {% if page_obj.has_previous %}
        <li
          class="page-item">
          <a
            class="page-link"
            href="?page={{ page_obj.previous_page_number }}">
            ANTERIOR
          </a>
        </li>
      {% else %}
        <li
          class="page-item disabled">
          <a
            class="page-link">
            ANTERIOR
          </a>
        </li>
      {% endif %}
      <!-- Next -->
      {% if page_obj.has_next %}
        <li
          class="page-item">
          <a
            class="page-link"
            href="?page={{ page_obj.next_page_number }}">
            SIGUIENTE
          </a>
        </li>
      {% else %}
        <li
          class="page-item disabled">
          <a
            class="page-link">
            SIGUIENTE
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}