<div
  class="navbar-brand d-flex flex-row align-items-center p-3">
  <!-- Back button -->
  {% if request.path|length != 1 and request.path|slice:':13' != "/enterprises" %}
    <a
     href="{% if 'campaign' in request.path %}{% url 'home' %}{% else %}{% url 'enterprises' %}{% endif %}">
      <span
       class="fas fa-arrow-left h3 text-secondary mr-3 mb-0"></span>
    </a>
  {% endif %}

  <!-- Title -->
  <span
    class="text-raleway text-black display-4">
    {% if "/campaign/add/" in request.path %}
      Registrar campaña
    {% elif "/campaign/delete/" in request.path %}
      Eliminar campaña
    {% elif "/campaign/" in request.path %}
      Detalle de campaña
    {% elif "/enterprise/add/" in request.path %}
      Registrar empresa
    {% elif "/enterprise/delete/" in request.path %}
      Eliminar empresa
    {% elif "/enterprise/update/" in request.path %}
      Actualizar empresa
    {% elif "/enterprise/" in request.path %}
      Detalle de empresa
    {% elif "/enterprises" in request.path %}
      Empresas
    {% elif "/" in request.path %}
      Campañas
    {% endif %}
  </span>
</div>
