{% extends 'basic/base.html' %}
{% block title %}Login{% endblock %}
{% block container_background %}bg-dark{% endblock %}
{% block content_height %}h-100{% endblock %}
{% block overflow %}
  overflow-scroll-y
{% endblock %}
{% block content %}
  <div class="row h-100 mw-100 mx-0">
    <div
      class="col-sm-9 col-md-5 col-lg-4 mx-auto my-auto">
      <div
        class="card my-5 bg-primary">
        <div
          class="card-body">
          <!-- Title -->
          <h5
            class="card-title text-center text-light text-raleway">
            Inicio de sesión
          </h5>
          <!-- Form -->
          <form
            method="POST">
            {% csrf_token %}
            <!-- Username input -->
            <div
              class="form-group">
              <label
                class="text-light text-raleway"
                for="username">
                Nombre de Usuario
              </label>

              <input
                required
                oninvalid="this.setCustomValidity('Este campo es obligatorio.')"
                onchange="this.setCustomValidity('')"
                id="username"
                class="form-control"
                name="username"
                type="text">

              <ul>
                {% for error in form.username.errors %}
                  <li class="text-danger mt-1">{{error}}</li>
                {% endfor %}
              </ul>
            </div>
            <!-- Password input -->
            <div
              class="form-group">
              <label
                class="text-light text-raleway"
                for="password">
                Contraseña
              </label>

              <input
                required
                oninvalid="this.setCustomValidity('Este campo es obligatorio.')"
                onchange="this.setCustomValidity('')"
                id="password"
                class="form-control"
                name="password"
                type="password">

              <ul>
                {% for error in form.password.errors %}
                  <li class="text-warning mt-1">{{error}}</li>
                {% endfor %}
              </ul>
            </div>
            <!-- Alert -->
            {% if form.non_field_errors %}
              <div
                class="alert alert-danger text-raleway"
                role="alert">
                Usuario y/o contraseña incorrecto(s), prueba de nuevo.
              </div>
            {% endif %}
            <!-- Button -->
            <button
              type="submit"
              class="btn btn-secondary btn-block my-4 text-raleway">
              ENTRAR
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
